In [8]:
t3=(1,2,3,4)
t3

(1, 2, 3, 4)

In [10]:
del t3
t3

NameError: name 't3' is not defined

In [15]:
t1=(1,2,3,4,5,6,7)
# t1[-1:-4:-1]
t1=(1,2,3)

In [25]:
s6 = {(1,1,2,2,3,4)}
s6

{(1, 1, 2, 2, 3, 4)}

In [28]:
S = {1,2,3,4}
# add
# S.add(5)
# print(S)
# update
# S.update([5,6,7])
S.update((5,6,7))
print(S)

{1, 2, 3, 4, 5, 6, 7}

In [31]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1 | s2
s1 & s2
s1 ^ s2

{1, 2, 3, 6, 7, 8}

In [34]:
d4 = dict((('name','nitish'),('age',32),(3,3)))
d4

{'name': 'nitish', 'age': 32, 3: 3}

In [41]:
s=dict()
s['subjects']=dict()
s['subjects']['ds'] = 75
s

{'subjects': {'ds': 75}}

In [49]:
d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}

del d['name']
d

{'age': 32, 3: 3, 'gender': 'male', 'weight': 72}

In [50]:
s['subjects']['dsa'] = 80
s

{'subjects': {'ds': 75, 'dsa': 80}}

In [51]:
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [52]:
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for i,j in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [55]:
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [56]:
{i:{j:i*j for j in range(1,11)}for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [ ]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)] 
D=dict()
for i in test_list:
    if i[0] not in D:
        D[i[0]]=[]
        D[i[0]].append(i[1])
    else:
        D[i[0]].append(i[1])


for key,value in D.items():
    print(key , end=" ")
    for j in value:
        print(j,end=" ")
# D

5 6 7 8 6 10 7 13

In [84]:
D=dict()
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
for i in list1:
    t=type(i)
    if t in D:
        D[t]+=1
    else :
        D[t]=1

for key,value in D.items():
    print (key.__name__,value)

set 2
tuple 1
list 2

In [93]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

se=set()
se.update(ar1)
se.intersection_update(ar2)
se.intersection_update(ar3)
se

{20, 80}